.user-list {
    padding-top: 60px; /* Adjust based on the height of your nav bar */
}

/*TODO: add blur when loading*/
.blur {
    filter: blur(2px);
}

/* UserList.css */
.table-row-actions {
    visibility: hidden;
}

.table-row:hover .table-row-actions {
    visibility: visible;
}

.inactive-row {
    background-color: #fbdcdc; /* Light red background for inactive users */
}