.position-relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.vh-100 {
    height: 100vh;
}

.position-absolute {
    position: absolute;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.text-white {
    color: white;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.text-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.button-middle-left {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}